<ion-view view-title="Atualizar">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="openRightMenu()"></button>
    </ion-nav-buttons>
    <ion-content class="nimble padding">
        <h4>
            {{assignment.Name}}
        </h4>
        <span class="" style="padding-left:10px; color:darkgrey "><i class="icon ion-ios-paper-outline" style="padding-right:10px;"></i>{{assignment.Project.Name}}</span>
        <span></span>
        <div>
            <div class="row" style="border-bottom: 1px solid gray">
                <div class="col">
                    Detalhes Gerais
                </div>
            </div>
            <div class="row">
                <div class="col-25 zero-padding pull-right" style="min-width:70px!important ">
                    <div class="pull-right" style="padding: 1px!important ; padding-right:1px!important; padding-top:15px!important">
                        <div id="divAssignmentPercentWorkCompleted" name="pie-percentComplete" class="pull-right easy-pie-custom" data-percent="{{assignment.PercentComplete}}"><span class="easy-pie-percent">{{assignment.PercentComplete}}%</span></div>
                    </div>
                </div>
                <div class="col-75">
                    <div class="row"><div class="col font-size-small"><i class="ion-calendar" style="padding-right:3px"></i><b>Início:</b></div><div class="col font-size-small">{{assignment.Start | momentFormat:'DD/MM/YYYY HH:MM'}}</div></div>
                    <div class="row"><div class="col font-size-small"><i class="ion-calendar" style="padding-right:3px"></i><b>Término:</b></div><div class="col font-size-small">{{assignment.Finish | momentFormat:'DD/MM/YYYY HH:MM'}}</div></div>
                    <div class="row"><div class="col font-size-small"><i class="ion-android-time" style="padding-right:3px"></i><b>Esforço(hrs):</b></div><div class="col font-size-small">{{assignment.Work}}</div></div>
                </div>
            </div>
         
            </div>
            <div class="row">
                <div class="col" style="text-align:center">
                    <span class="font-size-small" style="color:darkgrey ">
                        % do trabalho concluído
                    </span>
                </div>
            </div>
        
            <div class="row">
                <div class="col" style="text-align:center">
                    <div class="range" style="padding:0px!important; margin:0px!important; margin-top:-30px!important">
                        <span class="">0%</span>
                        <input type="range" name="volume" min="0" max="100" value="{{assignment.PercentComplete}}" step="1" ng-change="RefreshRange(false)" ng-model="assignment.PercentComplete" style="margin:0px!important">
                        <span class="">100%</span>
                    </div>
                </div>
            </div>
            <div class="row zero-padding">
                <div class="col">
                    Comentário
                    <textarea rows="3" style="border:1px solid gray; min-height:50px; width:100% !important" ng-model="assignment.Comments"></textarea>

                </div>
            </div>
        </div>


    </ion-content>
    <div class="bar bar-footer bar-stable">
        <button class="button button-balanced" ng-click="Save()">
            Salvar
        </button>
    </div>
</ion-view>
