<!DOCTYPE html>
<html lang="pt-br" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>

    <!-- AngularJS references -->
    <script src="contents/AngularJS/angular.js"></script>
    <!--<script src="contents/AngularJS/angular-winjs.js"></script>-->
    <script src="contents/AngularJS/angular-route.min.js"></script>

    <!-- jQuery References -->
    <script src="contents/jQuery/jquery-2.1.1.min.js"></script>

    <!-- MyApp References -->
    <link href="css/index.css" rel="stylesheet" />
    <!--<script src="scripts/index.js"></script>-->
    <script src="scripts/Config.js"></script>
    <script src="scripts/Factory.js"></script>
    <script src="scripts/Services.js"></script>
    <script src="scripts/controllers/navBarInformacaoController.js"></script>
    <script src="scripts/Controllers.js"></script>

    <title>Nimble</title>
    <!-- Bootstrap Core CSS -->
    <link href="contents/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="contents/metisMenu/css/metisMenu.min.css" rel="stylesheet">   
    <!-- Custom CSS -->
    <link href="contents/sb-admin-2/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/custom-nimble.css" rel="stylesheet" />
    <link href="css/custon-widget-titles.css" rel="stylesheet" />
</head>
<body  ng-app="Nimble">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div   ng-controller="navBarInformacaoController">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="position:fixed; right: 0px; top: 0px;">
                        <span class="sr-only">Menu Completo</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="images/logo_iproject.png" style="width:40%" />
                    </a>
                </div>
                <!-- /.navbar-header  -->
                <ul class="nav navbar-top-links navbar-right">
                    <li id="navLiCentralProjetos" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-archive fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li  ng-repeat="projeto in ProjetosDestacadas">
                                <a>
                                    <div>
                                        <strong>{{projeto.Nome}}</strong>
                                        <span class="pull-right text-muted">
                                            <em><span class="badge">{{projeto.PercentualRealizado}}%</span></em>
                                        </span>
                                    </div>
                                    <div>Inicio: {{projeto.DataInicio}}   Término:{{projeto.DataTermino}}</div>
                                </a>
                                <div class="divider"></div>
                            </li>

                            <li>
                                <a class="text-center">
                                    <strong>Central de Projetos</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>                     
                    </li>
                   
                    <li id="navLiMinhasTarefas" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks">
                            <li  ng-repeat="atribuicao in AtribuicoesDestacadas">
                                <a>
                                    <div>
                                        <p>
                                            <strong>{{atribuicao.Nome}}</strong>
                                            <span class="pull-right text-muted">{{atribuicao.PercentualRealizado}}%</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{atribuicao.PercentualRealizado}}" aria-valuemin="0" aria-valuemax="100" style="width: {{atribuicao.PercentualRealizado}}%">
                                                <span class="sr-only">{{atribuicao.PercentualRealizado}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="divider"></div>
                            </li>
                            
                            <li>
                                <a class="text-center">
                                    <strong>Minhas Tarefas</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                     
                    </li>
                    <!-- /.dropdown Minha Tarefas -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a>
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> Projeto Iproject
                                        <span class="pull-right text-muted small">  5min</span>
                                    </div>
                                    <div>
                                        Aprovar Termo de Abertura
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>


                            <li>
                                <a class="text-center">
                                    <strong>Minhas Aprovações</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                    <!-- /.dropdown Minhas Aprovações -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a><i class="fa fa-user fa-fw"></i> Usuário</a>
                            </li>
                            <li>
                                <a><i class="fa fa-gear fa-fw"></i> Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-usuário -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <!--<li class="sidebar-search">
                       <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </li>-->
                            <li>
                                <a href="index.html"><i class="fa fa-archive fa-fw"></i> Central de Projetos </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>  Minhas Tarefas </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> DashBoard</a>
                            </li>
                            <li>
                                <a><i class="fa fa-bar-chart-o fa-fw"></i> Central de Relatórios<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">OnePage de Projetos</a>
                                    </li>
                                    <li>
                                        <a href="#">Curva S Física</a>
                                    </li>
                                    <li>
                                        <a href="#">Punch List</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </div>
        </nav>
        <hr  class="colorgraph"/>
        <!-- Page Content -->
        <div id="page-wrapper " >
            <div class="container-fluid" style="padding:4px !important" >
                <div class="row" >
                    <div class="col-lg-12" >
                        <div class="view-layout" ng-view ></div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="contents/jQuery/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="contents/Bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="contents/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="contents/sb-admin-2/sb-admin-2.js"></script>
    <!--<script src="contents/require/require.js" data-main= "scripts/Main.js"></script>-->
</body>
</html>
